
  <h3>This is the players partial!</h3>

  <form ng-submit="addPlayer()">
    <div class="form-group">
      <label for="newplayer">Player name:</label>
      <input type="text" name="newplayer" ng-model="newPlayer.name" class='form-control'/>
    </div>
    <button type="submit" class="btn btn-primary">Make new player</button>
  </form>

  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr ng-repeat="p in players">
        <td ng-bind="p.name"></td>
        <td><button class="btn btn-danger">Remove player</button></td>
      </tr>
    </tbody>

  </table>
